# 复制为 .env 后按需修改
PORT=5100
ROOT_URL=http://localhost:5100

MONGO_URL=mongodb://127.0.0.1:27017/crm?replicaSet=rs0
TRANSPORTER=redis://127.0.0.1:6379
CACHER=redis://127.0.0.1:6379/1

STEEDOS_STORAGE_DIR=./steedos-storage
B6_LOG_LEVEL=warn
